/* Global styles */
::selection {
	background: $blue;
	color: white;
  text-shadow: 0px 1px 1px rgba(black, 0.6);
}

::-moz-selection {
	background: $blue;
	color: white;
  text-shadow: 0px 1px 1px rgba(black, 0.6);
}

html {
	font-size: 62.5%;
	@include box-sizing(border-box);
}

*, *:before, *:after {
	@include box-sizing(inherit);
}

body {
	@include font-default();
  font-size: 2.4rem;
  color: $grey;
  background: #f4f4f4;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.grid {
	@include row;
}

.uppercase {
	text-transform: uppercase;
}

.text-center {
	text-align: center;
}

.background-white {
	background: white;
}

.section {
	padding: 80px 20px;
	@include clearfix;
	.description {
		margin-bottom: 50px;
	}
	.section-footer {
		clear: both;
		padding-top: 60px;
	}
}